<link rel="stylesheet" href="/CSS/assignTask.css" />

<h3 class="text-center mt-3">Assign Task</h3>
<hr />

<div>
     <form
          action="/user/perform-review"
          method="post"
          class="container rounded-2 d-flex justify-content-between  text-white p-2 px-5 d-flex"
          style="font-size: large; background-color: #1d3557;">
          <div class="d-inline-flex">
               <p style="padding-top: 5px; margin-bottom: 0;">Ask: </p> &nbsp;
               <div class="custom-select">
                    <select name="reviewer" style="text-align: center; border: 2px solid yellow;">
                         <option selected disabled>Select User</option>
                         <% for(userone of allUser) {%>
                              <% if(userone.role != "") {%>
                                   <option value="<%= userone.id %>"><%= userone.firstName %> <%= userone.lastName %></option>
                              <% } %>
                         <%}%>
                    </select>
               </div>
          </div>
          <div class="d-inline-flex">
               <p style="padding-top: 5px; margin-bottom: 0;">To review: </p> &nbsp;
               <div class="custom-select">
                    <select name="reviewToUser" style="text-align: center; border: 2px solid yellow;">
                         <option selected disabled>Select User</option>
                         <% for(userone of allUser) {%>
                              <% if(userone.role != "") {%>
                                   <option value="<%= userone.id %>"><%= userone.firstName %> <%= userone.lastName %></option>
                              <% } %>                         <%}%>
                    </select>
               </div>
               <input type="hidden" name="senderAdmin" value="<%= locals.user.id %>" />
          </div>
          <div style="padding-top: 5px; margin-bottom: 0;">By Admin: <strong style="color: #2a9d8f;"><%= locals.user.firstName %></strong></div>
          <div><button type="submit" class="button">Assign</button></div>
     </form>
</div>

<h4 class="text-center mt-5">Activity</h4>
<hr />
<div class="d-flex justify-content-center">
     <button class="button2" style="background-color: #06d6a0">
          <span>
               <i class="fa-solid fa-plus fa-lg" style="color: #001427"></i>
               <a href="/user/createEmployee" style="text-decoration: none; color: #001427"
                    ><strong> &nbsp; Add User</strong></a
               >
          </span>
     </button>
     <button class="button2" style="background-color: #f72585">
          <span>
               <i class="fa-solid fa-toggle-off fa-lg" style="color: #001427"></i>
               <a href="/user/employee-dash" style="text-decoration: none; color: #001427"
                    ><strong> &nbsp; Switch To Employee</strong></a
               >
          </span>
     </button>
     <button class="button2" style="background-color: #118ab2">
          <span>
               <i class="fa-solid fa-toggle-on fa-lg" style="color: #001427"></i>
               <a href="/user/admin-dash" style="text-decoration: none; color: #001427"
                    ><strong> &nbsp; Switch To Admin</strong></a
               >
          </span>
     </button>
</div>



<div class="container">
     <h4 class="text-center mt-5"> Pending Reviews</h4>
     <hr />
     <% if(reviewPending.length !=0) {%>
          <% for(r of reviewPending) {%>
               <div class="container position-relative p-2 px-4 my-2 bg-warning text-dark rounded-4">
                    <strong><%= r.reviewer.firstName %></strong> has not yet reviewed <strong><%= r.reviewToUser.firstName %> <%= r.reviewToUser.lastName %></strong> on Admin: <strong><%= r.senderAdmin.firstName %></strong> request.
                    <p>
                         Rating: <%= r.rating %>
                         <br />
                         Review: <%= r.review %>
                    </p>
                    <div class="position-absolute bottom-0 end-0 px-4 py-1" style="color: #eaf8bf;">
                         <small><%= String(r.createdAt).slice(0,15) %></small>
                    </div>
               </div>
          <% } %>
     <% }else{%>
          <p class="text-center">No Pending Reviews</p>
     <% } %>
</div>


<div class="container">
     <h4 class="text-center mt-5"> Completed Reviews Task</h4>
     <hr />
     <% if(reviewDone.length !=0) {%>
          <% for(r of reviewDone) {%>
               <div class="container position-relative p-2 px-4 my-2 bg-info text-dark rounded-4">
                    <strong><%= r.reviewer.firstName %></strong> has reviewed <strong><%= r.reviewToUser.firstName %> <%= r.reviewToUser.lastName %></strong> on Admin: <strong><%= r.senderAdmin.firstName %></strong> request.
                    <p>
                         Rating: <% for(i=0;i<r.rating;i++) {%> <i class="fa-regular fa-star"></i> <% } %>
                         <br />
                         Review: <%= r.review %>
                    </p>
                    <div class="position-absolute bottom-0 end-0 px-4 py-1" style="color: #eaf8bf;">
                         <small><%= String(r.createdAt).slice(0,15) %></small>
                    </div>
               </div>
          <% } %>
     <% }else{%>
          <p class="text-center">No Pending Reviews</p>
     <% } %>
</div>