<link rel="stylesheet" href="/CSS/employeeDash.css">

<h3 class="mt-3">Employee Dashboard</h3>



<div class="container">
     <h4 class="text-center mt-5">Review Your Colleague</h4>
     <hr />
     <% if(review != "" ) {%> 
          <% for(r of review) {%> 
               <%- include('reviewEmployee') %> 
          <% } %> 
     <% }else{ %>
          <p class="text-center mt-5">No review task alloted!!</p>
     <% } %>
</div>



<% if(locals.user.role == 'Admin') {%>

     <h4 class="text-center mt-5">Activity</h4>
     <hr>
     <div class="d-flex justify-content-center">
          <button class="button2" style="background-color: #06D6A0;">
               <span>
                    <i class="fa-solid fa-plus fa-lg" style="color: #001427;"></i>
                    <a href="/user/createEmployee" style="text-decoration: none; color: #001427"><strong> &nbsp; Add User</strong></a>
               </span>
          </button>
          <button class="button2" style="background-color: #FFD166;">
               <span>
                    <i class="fa-solid fa-list-check fa-lg" style="color: #001427;"></i>
                    <a href="/user/assign-task" style="text-decoration: none; color: #001427"><strong> &nbsp; Assign Task</strong></a>
               </span>
          </button>
          <button class="button2" style="background-color: #118ab2">
               <span>
                    <i class="fa-solid fa-toggle-on fa-lg" style="color: #001427"></i>
                    <a href="/user/admin-dash" style="text-decoration: none; color: #001427"
                         ><strong> &nbsp; Switch To Admin</strong></a
                    >
               </span>
          </button>
     </div>
<% } %>




<div class="container">
     <h4 class="text-center mt-5">Your Previous Reviews</h4>
     <hr />

     <% for(r of reviewHistory) {%>
          <div class="container position-relative p-2 px-4 my-2 bg-info text-dark rounded-4">
               You reviewed <strong><%= r.reviewToUser.firstName %> <%= r.reviewToUser.lastName %></strong> on Admin: <strong>Shivam</strong> request.
               <p>
                    Rating: <% for(i=0;i<r.rating;i++) {%> <i class="fa-regular fa-star"></i> <% } %>
                    <br />
                    Review: <%= r.review %>
               </p>
               <div class="position-absolute bottom-0 end-0 px-4 py-1" style="color: #eaf8bf;">
                    <small><%= String(r.createdAt).slice(0,15) %></small>
               </div>
          </div>
     <% } %>
</div>
